.StatusDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}

.StatusDisplay__text-group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
}

.StatusDisplay h2 {
  font-size: 5rem;
}

.StatusDisplay span {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.StatusDisplay__cash-credit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 0.5rem;
}

.StatusDisplay__cash-credit h3 {
  font-size: 1.25rem;
}

.StatusDisplay__cash-credit h3:last-of-type {
  margin-left: 0.5rem;
}