.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.App__left, .App__right {
  height: 100%;
}

.App__left {
  width: 60%;
}

.App__right {
  width: 40%;
}
