.App {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

.App::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets//images/cherry-blossom.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(4px);
}

.App__top {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex: 0;
}

.App__top-date-time {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.App__top-date-time h3 {
  font-size: 1.5rem;
}

.App__top-date-time h4 {
  font-size: 1rem;
}

.App__body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.App__top h1 {
  font-size: 3rem;
}

.App__left, .App__right {
  height: 100%;
}

.App__left {
  width: 60%;
}

.App__right {
  width: 40%;
}
