.UpcomingBills {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.UpcomingBills__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.UpcomingBills__top h2 {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.UpcomingBills__top h3 {
  font-size: 1.5rem;
}

.UpcomingBills__bill {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  width: 90%;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #282828;
}

.UpcomingBills__bill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  border-radius: 4px;
}

.UpcomingBills__bill:not(:first-of-type) {
  margin-top: 0.5rem;
}

.UpcomingBills__name {
  width: 50%;
}

.UpcomingBills__amount {
  width: 30%;
}

.UpcomingBills__date {
  width: 20%;
}